
body {
font-size: 12px;
font-family: "Arial",sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
color: #000000;
margin-left: 1in;
margin-right: 1in;
margin-top: .5in;
margin-bottom: .5in;
}

h1 {
  font-size: 39pt;
  text-align: center;
}

Address {
  font-size: 8pt;
  text-align: center;
}

header {
  border-style: solid;
  border: 2px, black;
  padding-bottom: 20px;
  background-color: lightgrey
}

nav {
  height: 42px;
  background-color: lightgrey;
  text-decoration-color: black;
  border-style: solid;
  border: 2px, black;
  margin-top: 10px;
}

nav ul {
  height: 50px;
  width: 650px;
  margin: 0 auto;

}

nav ul li {
  text-transform: uppercase;
  list-style: none;
  float:left;
  text-decoration: none;
  color: black;
  padding: 0px 40px;
  text-align: center;
  line-height: 42px;
  height: 42px;
}

a {
  color: black;
}

nav ul li a:hover {
  color: white;
}

h4{
  font-size: 14pt;
}

main {
  margin-top: 10px;
  border-style: solid;
  border: 2px, black;
  padding-bottom: 20px;
  background-color: lightgrey
}

section  {
  margin-left: 40px;
  margin-right: 40px;
}
